.wrapper{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.line{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 120px;
    background-color: rosybrown;
}

.carre{
    height: 40px;
    width: 40px;
    border: solid 1px red;
    background-size: cover;
}